<%= form_with url: "/lookup", method: :get do |form| %>
  <%= form.label :query, "Enter address for weather lookup:" %>
  <%= form.text_field :query %>
  <%= form.submit "Submit" %>
<% end %>

<% flash.each do |type, msg| %>
  <div style="color:red">
    <%= msg %>
  </div>
<% end %>

<% if @address %>
    <%= header @address %>
    <hr style="width: 100%">
<% end %>

<% if @current_weather %>
  <div>
    <h3>Current Weather </h3>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Temp</th>
          <th>Max Temp</th>
          <th>Min Temp</th>
        </tr>
      </thead>
      <tbody>
        <%= rows_for_weather([@current_weather]) %>
      </tbody>
    </table>
  </div>
  <div>
    <h3>Forecast</h3>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Temp</th>
          <th>Max Temp</th>
          <th>Min Temp</th>
        </tr>
      </thead>
      <tbody>
        <%= rows_for_weather(@forecast) %>
      </tbody>
    </table>
  </div>
<% end %>
