<%= form_with url: "/lookup", method: :get do |form| %>
  <%= form.label :query, "Enter address for weather lookup:" %>
  <%= form.text_field :query %>
  <%= form.submit "Submit" %>
<% end %>
<% if @address %>
  <div>
    <h2>Current Weather </h2>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Temp</th>
          <th>Max Temp</th>
          <th>Min Temp</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= @address.current_weather.nice_date %> </td>
          <td> <%= @address.current_weather.temp %> </td>
          <td> <%= @address.current_weather.temp_max %> </td>
          <td> <%= @address.current_weather.temp_min %> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2>Forecast</h2>
    <table>
      <thead>
        <tr>
          <th>Temp</th>
          <th>Max Temp</th>
          <th>Min Temp</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= @address.current_weather.temp %> </td>
          <td> <%= @address.current_weather.temp_max %> </td>
          <td> <%= @address.current_weather.temp_min %> </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
